td{
	background-color: #ffffff;
	text-align: center;
}

img.convention{
	/*-webkit-box-shadow: 5px 5px 5px #808080;
    box-shadow: 5px 5px 5px #808080;*/
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-style:solid 1px;
	border-color: #800000;	
}

font.text1{
       font-family: Arial, Helvetica;
       color: #ffffff;
       font-size: 1.6em;
}

font.text2{
       font-family: Arial, Helvetica;
       color: #ffffff;
       font-size: 1.5em;
}

font.text3{
       font-family: Arial, Helvetica;
       color: #333333;
       font-size: 0.7em;
}

font.text4{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 1.2em;
	font-weight: 800;
	margin-bottom: 1px;
}

font.text7{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 1.0em;
	font-weight: 500;
	margin-bottom: 1px;
}

font.text8{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 1.0em;
	font-weight: 500;
	margin-bottom: 1px;
}

font.text9{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 0.9em;
	font-weight: 500;
	margin-bottom: 1px;
}

font.text10{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	color: #333333;
	font-size: 0.8em;
	font-weight: 500;
	margin-bottom: 1px;
}

font.text11{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 0.8em;
	font-weight: 500;
	margin-bottom: 1px;
}

p.just01{
	text-align: justify;
}

p.small{
	background-color: #4169e1;
	line-height: 95%;
	padding: 8px;
	margin: 1px;
}

p.smallColor{
	background-color: #3366ff;
	line-height: 95%;
	padding: 8px;
	margin: 1px;
}

.green:link{
	text-decoration: none;
}

.green:hover{
	color: #f62217;
}

.ui-block-a, .ui-block-c {
    background-color: #4169e1;
   /* border: 2px solid #ffffff;*/
    height: 40px;
	font-size: 90%;
    font-weight: 500;
    text-align: center;
    padding: 0px;
}

.ui-block-b {
	background-color: #4169e1;
    /*border: 2px solid #ffffff;*/
    height: 40px;
	font-size: 90%;
    font-weight: 500;
    text-align: left;
    padding: 1%;
}



